<!doctype html>
<html ⚡="" lang="en" prefix="og: https://ogp.me/ns#">
    <head>
    {% block header %}{% endblock %}
    </head>
    <body class="font-sans">
        {% block analytics %}{% endblock %}
        <amp-state id="product"></amp-state>
        <div class="max-w-4xl p-2 mx-auto md:p-4">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>