<!doctype html>
<html ⚡="" lang="en" prefix="og: https://ogp.me/ns#">
    <head>
    {% block header %}{% endblock %}
    </head>
    <body class="font-sans">
        {% block analytics %}{% endblock %}
        <div class="space-y-10">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>